<div id="<%= dom_id temperature %>">
  <p>
    <strong>Avg temp:</strong>
    <%= temperature.avg_temp %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= temperature.date %>
  </p>

  <p>
    <strong>City:</strong>
    <%= temperature.city_id %>
  </p>

</div>
